configuration {
    show-icons: true;
    
    /* "Nerd Font" ibaresi hayati önem taşır, eksiği tamamlar */
    font: "JetBrainsMono Nerd Font 12"; 
    
    icon-theme: "Papirus-Dark";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "gruvbox-material"